.artistListCard.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.2);
}

.artistListHeader.artistListHeader {
    text-align: center;
    background: rgba(255,255,255,0.4);
}

.artistListNavCont {
    display: flex;
    justify-content: center;
}

.topArtistList {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: none;
    background-color: rgba(255,255,255,0.3);
}

.topArtistList li {
    padding: 10px;
}

.artistListName a {
    text-decoration: none;
    font-weight: bold;
    color: #64390e;
}

.artistListName a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #ac6927;
}