.artistListCard {
    margin-top: 20px;
    margin-bottom: 20px;
}

.artistListHeader {
    text-align: center;
}

.artistListNavCont {
    display: flex;
    justify-content: center;
}

.artistListBody {
    background-image: linear-gradient(to bottom right, #8dc3ec, #8dabc0, #8596a1);
}