.artistCard.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.2);
}

.artistContentCard.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.0);
}

.artistHeader {
    text-align: center;
}

.artistContentHeader {
    text-align: center;
}

.artistBody.artistBody {
    background: rgba(255,255,255,0.2);
}

.artistContentBody.artistContentBody {
    background: rgba(255,255,255,0.0);
}

.card-sub-title.card-sub-title {
    color: white;
}

.timeline-controls.timeline-controls {
    margin-top: 20px;
}