body {
    margin: 0;
    padding: 0;
    font-family: 'Source Serif', source-sans;
    color: black;
}

h1,
h2,
h3 {
    font-family: 'Source Serif Bold', source-sans;
    color: black;
}

div.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
