.chartCard.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.2);
}

.chartHeader.chartHeader {
    text-align: center;
    background: rgba(255,255,255,0.4);
}

.chartNavCont {
    display: flex;
    justify-content: center;
}

.chartBody.chartBody {
    background: rgba(255,255,255,0.0);
}

.homeChartCard.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.2);
}

.homeChartHeader.homeChartHeader {
    text-align: center;
    background: rgba(255,255,255,0.4);
}

.homeChartBody.homeChartBody {
    background: rgba(255,255,255,0.0);
}