.chartCard.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.2);
}

.chartHeader.chartHeader {
    text-align: center;
    background: rgba(255,255,255,0.4);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.chartNavCont {
    display: flex;
    justify-content: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.chartBody.chartBody {
    background: rgba(255,255,255,0.0);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0rem;
}

.homeChartCard.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.2);
}

.homeChartHeader.homeChartHeader {
    text-align: center;
    background: rgba(255,255,255,0.7);
}

.homeChartBody.homeChartBody {
    background: rgba(255,255,255,0.0);
}