#songHeader .accordion-button, #albumHeader .accordion-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#songBody .accordion-body, #albumBody .accordion-body {
    padding: 0.5rem 0.5rem;
}

.chartMenuHelperText {
    font-size: 0.8rem;
    color: #767676;
    padding: 0.4rem 0.75rem 0;
    margin-bottom: 0.25rem;
}
