#topNav {
    background-color: #4A4A4A;
    min-height: 3rem;
    width: 100%
}

#alphaNav {
    flex-direction: row;
    background-color: #4A4A4A;
    min-height: 3rem;
    width: 100%
}

.alphaItem.alphaItem {
    display: inline-block;
}

#bottomNav {
    background-color: #5D8FB5;
    min-height: 2rem;
}

#mainDropdown {
    padding: 0rem 0.5rem;
}

#bottomNavItems1, #bottomNavItems2, #bottomNavItems3, #bottomNavItems4  {
    color: white;
    padding: 0.1vw 3vw;
    margin: 1vw 3vw;
    border: 1px solid #3471a0;
    border-radius: 0.3vw;
}

#bottomNavItems1:hover, #bottomNavItems2:hover, #bottomNavItems3:hover, #bottomNavItems4:hover {
    color:rgb(114, 229, 233);
}

#mainTitle {
    background-color: white;
    color: black;
    text-align: center;
    min-height: 4rem;
    margin-top: 1rem;
    display: inline-block;
}

span {
    padding-right: 20px;
}