.hero {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(.././app/assets/img/vinyl-1595847.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(50%);
}
.hero-content {
    position: relative;
    color: white;
}

#hero-title {
    position: relative;
    display:block;
    width:auto;
    color: white;
}